.borde1 {
  border: 2px solid red;
}

.borde2 {
  border: 2px solid blue;
}

.borde3 {
  border: 2px dotted green;
}

.menu {
  font-family: "Crafty Girls", cursive;
  height: 20vh;
  display: flex;
  -ms-flex-align: center;
  justify-content: space-around;
}

.menu1 {
  background-color: #cb6dee;
}

.menu2 {
  background-color: #f16a87;
}

.menu3 {
  background-color: #80d8db;
}

.vcentrado {
  margin: auto !important;
}

a:link,
a:visited {
  color: #fff;
}

a:hover,
a:active {
  color: #000;
}
