.borde1 {
  border: 15px solid white;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

/* The Image container */
.img-hover-zoom {
  /*height: 300px; /* Modify this according to your need */
  overflow: hidden; /* Removing this will break the effects */
}

  /* Quick-zoom Container */
.img-hover-zoom--quick-zoom img {
  transform-origin: 50 50;
  transition: transform .25s, visibility .25s ease-in;
}

/* The Transformation */
.img-hover-zoom--quick-zoom:hover img {
  transform: scale(1.5);  
}

body {
  background: rgb(255,159,240);
background: linear-gradient(0deg, rgba(255,159,240,1) 22%, rgba(132,255,249,0.711922268907563) 48%, rgba(255,255,203,1) 100%);
}

.menu {
  font-family: "Crafty Girls", cursive;
  height: 20vh;
  display: flex;
  -ms-flex-align: center;
  justify-content: space-around;
}

.menu1 {
  background-color: #cb6dee;
}

.menu2 {
  background-color: #f16a87;
}

.menu3 {
  background-color: #80d8db;
}

.vcentrado {
  margin: auto !important;
}

a:link,
a:visited {
  color: #fff;
}

a:active {
  border: 1px solid #fff;
}

.menu1:hover, .menu2:hover, .menu3:hover,
.menu1:active, .menu2:active, .menu3:active {
    filter: brightness(0.6);
    color: #fff;
    border: #fff 1 px solid;
}

footer {
  margin-top: 2em;
  font-family: "Crafty Girls" ;
}

